<!DOCTYPE html>
<html ng-app="doecode_app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="doecode.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2>DOE Code Projects</h2>
      <div class="col-sm-5">
        <div ng-controller="project_list_controller as project_list">
          <ul class="ilist-unstyled">
            <li ng-repeat="project in project_list.projects">
              {{project.title}}
            </li>
          </ul>
          <form class="form-inline" ng-submit="project_list.add_project()">
            <input type="text" ng-model="project_list.title_text" size="30"
                   placeholder="new project name here" class="form-control">
            <input class="btn btn-primary" type="submit" value="add">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
