<?xml version="1.0" encoding="UTF-8"?>
<web-app id="DOECode" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DOE Code React Demo</display-name>
    <context-param>
        <description>JPA persistence unit name</description>
        <param-name>persistence_unit</param-name>
        <param-value>DOECode</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.listeners.DoeServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DOECode</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>gov.osti.services.Metadata</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DOECode</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
</web-app>
