<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>DOE Code React Demo</display-name>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.listeners.DoeServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServiceRouter</servlet-name>
        <servlet-class>gov.osti.services.ServiceRouter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceRouter</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
</web-app>
